<!doctype html>
<head>
	<title>RadStuff</title>
	<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
<div class="container">
	<div class="row">
		<h1>Stuff</h1>
		<div class="nav span4">
			<h3>Navigation</h3>
		</div>
		<div class="page span8">
		  {% for message in get_flashed_messages() %}
			<div class="flash">{{ message }}</div>
		  {% endfor %}
		  {% block body %}{% endblock %}
		</div>
	</div>
</div>
</body>
</html>