{% extends "layout.html" %}
{% block body %}
	<form id="find">
		<label for="radiologist">Radiologist</label>
			<input type="text" id="radiologist" name="radiologist" />
		<label for="historyDepth">Number of reports</label>
			<input type="text" id="historyDepth" name="historyDepth" />
		<button type="submit">Go</button>
	</form>
	<h3>Last {{ reports|length() }} reports</h3>
{% for report in reports %}
	<p>
		<h5>{{report.author}}</h5>
		<span>{{report.date}}, {{report.status}}</span>
		<p>{{report.body}}</p>
	</p>
{% endfor %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
{{ cometdScript|safe }}
<script type="text/javascript" src="{{ url_for('static', filename='js/harbinger-js/cometd/cometd.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/harbinger-js/cometd/jquery.cometd.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/harbinger-js/core.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/harbinger-js/data_table.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/harbinger-js/flot.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/harbinger-js/amqp-listener.js') }}"></script>

<script type="text/javascript">
	
	$(document).ready(function() {
		//Remember! The $.cometURL was set during the prerequisite tasks
		$.harbingerjs.amqp.setup({url: $.cometURL});
		$.harbingerjs.amqp.bind("audit","#",
			function(bindMessage) { console.log('hello'); }, //An optional onBind callback
            function(unBoundMessage) { console.log('unhello'); }
		); //An optional onUnbound callback
	});
	
	var form = $('#find');
	form.bind('submit', function(e) {
		e.preventDefault();
		var radiologist = $('#radiologist').val() !== '' ? '/' + $('#radiologist').val() : '';
		var historyDepth = $('#historyDepth').val() !== '' ? '/' + $('#historyDepth').val() : '';
		var locationString = '{{ url_for('reports') }}' + radiologist + historyDepth;
		window.location.href = locationString;
	});
</script>
{% endblock %}