{% extends "layout.html" %}
{% block body %}
	<form id="find">
		<label>Radiologist</label>
			<input type="text" id="radiologist" name="radiologist" value="{{radiologist}}">
		<label>Number of reports</label>
			<input type="text" id="historyDepth" name="historyDepth" value="{{historyDepth}}">
		</br>
		<button type="submit" class="btn">Go</button>
	</form>
	<h3>Last {{ reports|length() }} reports</h3>
	<div id="frequencies">
		<button class="btn" id="get_frequencies">Radlex Frequencies</button>
		<img id="spinner" src="{{ url_for('static', filename='img/spinner.gif') }}" style="display:none" />
		<div id="flot_chart" style="width: 600px; height: 300px; display:none"></div>
	</div>
{% for report in reports %}
	<div class="report">
		<h5>{{report.author}}</h5>
		<span>{{report.date}}, {{report.status}}</span>
		<p class="report_body">{{report.body}}</p>
		<button class="annotate_this btn">Annotate</button>
	</div>
{% endfor %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='flot/jquery.flot.js') }}"></script>
<script type="text/javascript">
	
$(function(){
	
	String.prototype.insert = function (index, string) {
		if (index > 0)
			return this.substring(0, index) + string + this.substring(index, this.length);
		else
			return string + this;
	};
	
	var form = $('#find');
	form.bind('submit', function(e) {
		e.preventDefault();
		var radiologist = $('#radiologist').val() !== '' ? '/' + $('#radiologist').val() : '';
		var historyDepth = $('#historyDepth').val() !== '' ? '/' + $('#historyDepth').val() : '';
		var locationString = '{{ url_for('reports') }}' + radiologist + historyDepth;
		window.location.href = locationString;
	});
	$('.annotate_this').bind('click', function(e){
	
		var that  = $(this);
	
		params = { text: $(this).siblings('.report_body').html() };
		console.log(params);
		
		$.post('{{ url_for('annotations', type='annotations') }}', params, function(result){
			
			var report = that.siblings('.report_body');
			var text = report.html();
			
			console.log(result);
			
			var coords = {};
			initPopovers = function(){
				$('[rel=popover]').popover({trigger: 'hover', placement: 'right'});
			};
			
			$.each( result, function(i, term){
			
				if (typeof term.isA === 'undefined' || term.isA === 'Radlex ontology entity') {
					if (i == result.length - 1) {
						initPopovers();
					}
					return;
				};
				
				// correct for 0 (i think)
				term.from = term.from - 1;
				
				var hiliteBox = $('<div>');
				var replText = text.substr(0, term.from) + '<span id="termCoord">' +
					text.substr(term.from, (term.to - term.from)) + '</span>' + text.substr(term.to, text.length);
				report.html(replText);
				
				// Now that a span surrounds our term, measure it so we can create the overlay
				termBox = $('#termCoord');
				coords[i] = termBox.position();
				coords[i].width = termBox.width();
				coords[i].height = termBox.height();
				
				hiliteBox
					.css({ 
						left: Math.floor(coords[i].left) - 2,
						top: Math.floor(coords[i].top) - 2,
						height: coords[i].height + 1,
						width: coords[i].width + 1
					})
					.attr({
						'rel': 'popover',
						'class': 'term_hilite',
						'data-original-title': term.term,
						'data-content': 'is a(n): ' + term.isA
					});
				
				that.parent('.report').append(hiliteBox);
				
				report.html(text);
				
				if (i == result.length - 1) {
					initPopovers();
				}
			});
			
			console.log(coords);
			
		},'json');
	});
	$('#get_frequencies').bind('click', function(e){
		
		var that = this;
		
		params = { radiologist: '{{radiologist}}', historyDepth: '{{historyDepth}}' };
		
		$(that).text('Analyzing...');
		$('#spinner').show();
		
		$.get('{{ url_for('annotations', type='frequencies', sort='asc') }}', params, function(result){
			
			console.log(result);
			
			var data = [],
				ticks = [],
				count = result.length;
				
			$('#flot_chart').height(count * 20);
			
			$.each( result, function(i, val){
				data.push([val[1], i]);
				ticks.push([i, val[0]]);
			});
			
			
			$.plot( $('#flot_chart'),
				[{ 
					data: data, 
					bars: { 
						show: true, 
						horizontal: true, 
						barWidth: 0.5, 
						align: 'center' 
					} 
				}], 
				{ 
					xaxis: {
						position: 'top',
						tickSize: 1
					},
					yaxis: { 
						ticks: ticks 
					} 
				});
			
			$('#flot_chart').show();
			
			$(that).text('Radlex Frequencies');
			$('#spinner').hide();
			
		}, 'json');
		
	});

});
</script>
{% endblock %}